body {
	font-family: sans-serif;
}

.programlisting, code {
	font-family: monospace;
	background: #eee;
}

.programlisting {
	padding: 0.5cm;
	overflow: scroll;
	border: 1pt solid black;
}

.programlisting, .table-contents {
	margin-left: 0.5in;
	margin-right: 0.5in;
}

.note, .warning, .important {
	border: 4px solid red;
	padding-left: 0.5cm;
	padding-right: 0.5cm;
	padding-bottom: 0.5cm;
	margin-bottom: 0.25in;
}

.note .title, .warning .title, .important .title {
	background-color: red;
	text-transform: uppercase;
	color: black;
	width: 100%;
	margin-top: 0;
}